.main-img{
background: 
url("../../img/background-images/bg1.jpg")
no-repeat center  ;
background-size: cover;

}

.img-fluid{
   width: 100%;
}
.mu-news_plain{
    overflow-y: scroll;
    height:300px ;
}