$font-stack : Helvetica,
sans-serif;
$primary-color: rgb(252, 252, 252);
$bg-color:rgba(0, 0, 0, 0.596);
$bg-img:'./img/background-images/bg1.jpg';

.mu-index {
    color:$primary-color;
    background: linear-gradient(
        $bg-color, $bg-color), 
    url($bg-img) no-repeat center fixed;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}
