/* .mu-index {
     color:rgb(252, 252, 252);
   
    background: linear-gradient(
        rgba(73, 2, 41, 0.479), rgba(73, 2, 41, 0.479)), 
    url('./img/background-images/bg1.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
} */
